* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#filme {
    width: 100%; /* 100% da largura da página */
    display: flex; /* Alinhamento das divs */
    justify-content: center; /* Centralização das divs */
    flex-wrap: wrap; /* Envolve todo o conteúdo no campo de visão do usuário, retirando a barra de rolagem da horizontal e quebrando o conteúdo */
}

#filme div {
    width: 25%; /* largura de cada div child */
    margin: 20px; /* espaçamento externo de uma div para a outra */
    box-shadow: 0px 1.5px 5px rgba(196, 0, 59, 0.568); /* Sombra da caixa: coordenada X, coordenador Y, esfumação, cor */
    border-bottom-left-radius: 5px; /* arredondamento da borda inferior esquerda */
    border-bottom-right-radius: 5px; /* arredondamento da borda inferior direita */
    padding: 10px; /* espaçamento interno */
    margin-bottom: 150px;
}

#filme div img {
    width: 100%; /* largura da imagem em sua div */
    border-bottom-left-radius: 5px; /* arredondamento da borda inferior esquerda */
    border-bottom-right-radius: 5px; /* arredondamento da borda inferior direita */
    box-shadow: 0px 2px 0.8px rgba(196, 0, 59, 0.123);
    margin-top: -120px;
}

#filme div:hover {
    transition: ease 2s;
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 0px 0px 0px 100vw rgba(196, 0, 59, 0.123);
    border-radius: 5px;
}

